<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Hello, world!</title>
  </head>

  <style>

      body{
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

      }


   .container1{
          background-color:#888C46;
          height:100px;
          width:100%;
          padding:10px;
          line-height:7;
          z-index:1;
      }

      #detail10{
         color:black;
         font-size:1.6em;
         text-decoration:none;
         list-style:none;
         font-weight:bold;
      }


      .detail{
         color:black;
         font-size:1.6em;
         text-decoration:none;
         list-style:none;
         font-weight:bold;
         text-align:center;
      }



      .detail:hover{
        background-color:green;
      }

            #d1:hover{
      background-color:green;
      }

      #d2:hover{
      background-color:green;
      }

      #d3:hover{
      background-color:green;
      }

      #d4:hover{
      background-color:green;
      }

      #d5:hover{
      background-color:green;
      }

      #d6:hover{
      background-color:green;
      }

      ul{
        margin-top:0px;
      }

      .er{
          display:block;
          float:right;
      }

      #extent{
          display:none;
      }


      ul li{
        margin-top:5px;
        height:40px;
        line-height:3;
        list-style:none;
        float:right;
        margin:10px;
        border-radius:4px;
        opacity:0.5;
        text-decoration:none;
      }

       #order_now:hover{
        border:2px solid white;
      }


      ul li a:hover{
          background-color:green;
      }

      #qu{
        width:100%;
        height:400px;
        background-color:#A4A4BF;
        opacity:1;
        color:#00FF00;
        line-height:8;
        margin-top:20px;
        margin-bottom:20px;
      }






      #expand{
          right:-180px;
          top:10px;
          height:400px;
          width:200px;
          position:absolute;
          z-index:1;
          text-align:center;
          background-color:transparent;
          line-height:1.4;
          display:none;
      }



      .fire{
          display:block;
      }

      #bresca{
          font-size:3em;z-index:1;display:inline-block;font-weight:bold;line-height:1;text-shadow:2px 2px 5px #00FF00;letter-spacing:4px;margin-left:60px;position:relative;margin-top:20px;transform:scale(1.5px);
      }

      #fire2{
          height:100px;width:130px;position:absolute;top:0px;left:235px;opacity:0.6;
      }

      #fire1{
          height:100px;width:130px;position:absolute;top:0px;left:0px;opacity:0.6;
      }

      #line{
         position:absolute;top:-270px;right:80px;z-index:1;cursor:pointer;font-size:6em;
      }

      #cross{
        position:absolute;top:-120px;right:80px;z-index:1;cursor:pointer;font-size:3.2em;display:none;
      }



          .s_no{
            width:30%;
          }

          .name{
            float:left;
            color:black;
          }

          .price{
            float:right;
            color:black;
          }

          .detail_items{
           font-size:1.5em;
           color:black;
          }

          #add{
           float:right;background-color:black;color:white;font-size:0.8em;
          }

          #no_of{
           width:35px;
          }

          #label_name{
           font-size:1.2em;
          }


         #form{
             display:flex;
             justify-content:center;
             align-items:center;
             width:100%;
         }


         .order{
           width:40%;
           margin-left:auto;
           margin-right:auto;
         }

         @media all and (max-width:1024px){
            .er{
                 display:none;
             }

             #extent{
                 display:block;
             }
         }

        @media all and (max-width:768px){

            .er{
                 display:none;
             }

             #extent{
                 display:block;
             }


         }

        @media all and (max-width:414px){



          .er{
                 display:none;
             }

             #extent{
                 display:block;
             }

             #expand{
                 top:80px;
                 line-height:0.8em;
             }

             #bresca{
                 font-size:2em;
             }

             #fire2{
                 left:160px;
             }


             #line{
                 right:20px;
             }

             #cross{
                 right:20px;
             }
         }

        @media all and (max-width:393px){
    .er{
                 display:none;
             }

             #extent{
                 display:block;
             }

             #expand{
                 top:80px;
                 line-height:0.8em;
             }

             #bresca{
                 font-size:2em;
             }

             #fire2{
                 left:160px;
             }


             #line{
                 right:20px;
             }

             #cross{
                 right:20px;
             }
         }

        @media all and (max-width:375px){
    .er{
                 display:none;
             }

             #extent{
                 display:block;
             }

             #expand{
                 top:80px;
                 line-height:0.8em;
             }

             #bresca{
                 font-size:2em;
             }

             #fire2{
                 left:160px;
             }


             #line{
                 right:20px;
             }

             #cross{
                 right:20px;
             }
         }

         @media all and (max-width:320px){
            .er{
                 display:none;
             }

             #extent{
                 display:block;
             }

             #expand{
                 top:80px;
                 line-height:0.8em;
             }

             #bresca{
                 font-size:2em;
             }

             #fire2{
                 left:160px;
             }


             #line{
                 right:20px;
             }

             #cross{
                 right:20px;
             }
         }

  </style>
  <body>



 <div  class="container1" >
  <img id="fire1" src="/50.gif" >
  <div id="bresca" >BRESCA</div>
  <img id="fire2" src="/50.gif" >
  <div class="er" >
  <ul>
  <li style="opacity:1;line-height:3"><a href="/order" id="order_now" style="text-decoration:none;color:#FFFFFF;background-color:#db8f31;font-size:1.7em">Order-Now</a></li>
  <li ><a href="/menu" id="detail10" >Menu</a></li>
  <li ><a href="/about" id="detail10" >About</a></li>
  <li ><a href="/gift" id="detail10" >Gift-Cards</a></li>
  <li ><a href="/private" id="detail10" >Private-Event</a></li>
  <li ><a href="/location" id="detail10" >Location</a></li>
    <li ><a href="/" id="detail10"  >Home</a></li>
  </ul>
 </div>

<div id="extent">
 <div id="line" >
  &equiv;
 </div>
 <div id="cross" >
  &#10060;
 </div>
 <div id="expand" >
  <p style="opacity:1;line-height:3"><a href="/order" id="order_now" style="text-decoration:none;color:#FFFFFF;background-color:#db8f31;font-size:1.7em">Order-Now</a></p>
  <p><a href="/menu" class="detail" id="d1" >Menu</a></p>
  <p><a href="/about" class="detail" id="d2">About</a></p>
  <p><a href="/gift" class="detail" id="d3" >Gift-Cards</a></p>
  <p><a href="/private" class="detail" id="d4">Private-Event</a></p>
  <p><a href="/location" class="detail" id="d5" >Location</a></p>
  <p><a href="/" class="detail"  id="d6" >Home</a></p>
  </div>
 </div>

</div>


<br/>

    <div class="order">
     <h2 style="text-align:center">Submit Order</h2>
    </div>

      <br/>

     <div class="container">
      <form id="foodorder" method="post" action="/order">

        <div class="form-group">
           <label for="name">Name:</label>
           <input type="text" class="form-control"  id="name" placeholder="Enter name" name="name"/>
         </div>

         <div class="form-group">
            <label for="contact">Contact:</label>
            <input type="number" class="form-control" id="contact" placeholder="Contact" name="contact"/>
          </div>

          <div class="form-group">
             <label for="line1">Line1:</label>
             <input type="number" class="form-control" id="line1" placeholder="Line1" name="line1"/>
           </div>

          <div class="form-group">
              <label for="code">Postal Code:</label>
              <input type="number" class="form-control" id="code" placeholder="Postal Code" name="code"/>
          </div>

          <div class="form-group">
               <label for="city">City:</label>
               <input type="text" class="form-control" id="city" placeholder="Enter City" name="city"/>
          </div>

          <div class="form-group">
                <label for="state">State:</label>
                <input type="text" class="form-control" id="state" placeholder="Enter State" name="state"/>
          </div>

          <div class="form-group">
                 <label for="country">Country:</label>
                 <input type="text" class="form-control" id="country" placeholder="Enter Country" name="country"/>
          </div>

          <div class="form-group">
                  <label for="amount">Amount:</label>
                  <input type="text" class="form-control" id="amount" value="" name="amount"readonly/>
          </div>




           <br/>
           <br/>

          <script
          src="http://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key=""
          data-amount=""
          data-name="ORDER"
          data-description="Food BY Bresca"
          data-image="http://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto">
          </script>

      </form>
     </div>



   <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" ></script>
    <script type="text/javascript">

      const amount = window.location.href.split("?")[1].split(":")[1];
      document.getElementById("amount").value = amount;


      fetch('/accept',{
        method:'POST',
        enctype:'multipart/form-data',
        headers:{
          'Accept':'application/json , text/plain , text/html */*',
          'Content-type':'application/json'
        }
      })
      .then(res=>res.json())
      .then(data=>{
        document.getElementById('foodorder').children[25].setAttribute("data-key",data.key);
      })

      document.getElementById('foodorder').children[25].setAttribute("data-amount",amount);


    </script>


        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
          <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
          <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
          <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>

        <script src="order.js"></script>


  </body>

</html>
