<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<style>

    body{
  /*background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);*/
       background-image: url('def.jpg');
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       background-opacity:0.5;
    }
    .main{
        width:100px;text-align:right;
    }

    #msg{
        height:150px;
        width:65%;
    }

   .gift{
    width:50%;
    height:auto;
    float:right;
    margin-top:60px;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

          #d1:hover{
      background-color:green;
      }

      #d2:hover{
      background-color:green;
      }

      #d3:hover{
      background-color:green;
      }

      #d4:hover{
      background-color:green;
      }

      #d5:hover{
      background-color:green;
      }

      #d6:hover{
      background-color:green;
      }

 .container1{
          background-color:#888C46;
          height:100px;
          width:100%;
          padding:10px;
          line-height:7;
          z-index:1;
      }

      #detail10{
         color:black;
         font-size:1.6em;
         text-decoration:none;
         list-style:none;
         font-weight:bold;
      }


      .detail{
         color:black;
         font-size:1.6em;
         text-decoration:none;
         list-style:none;
         font-weight:bold;
         text-align:center;
      }

      .detail:hover{
        background-color:green;
      }

      ul{
        margin-top:0px;
      }

      .er{
          display:block;
          float:right;
      }

      #extent{
          display:none;
      }

      ul li{
        margin-top:5px;
        height:40px;
        line-height:3;
        list-style:none;
        float:right;
        margin:10px;
        border-radius:4px;
        opacity:0.5;
        text-decoration:none;
      }

       #order_now:hover{
        border:2px solid white;
      }

      ul li a:hover{
          background-color:green;
      }

      #qu{
        width:100%;
        height:400px;
        background-color:#A4A4BF;
        opacity:1;
        color:#00FF00;
        line-height:8;
        margin-top:20px;
        margin-bottom:20px;
      }

      #expand{
          right:-180px;
          top:10px;
          height:400px;
          width:200px;
          position:absolute;
          z-index:1;
          text-align:center;
          background-color:transparent;
          line-height:1.4;
          display:none;
      }

      .fire{
          display:block;
      }

      #bresca{
          font-size:3em;z-index:1;display:inline-block;font-weight:bold;line-height:1;text-shadow:2px 2px 5px #00FF00;letter-spacing:4px;margin-left:60px;position:relative;margin-top:20px;transform:scale(1.5px);
      }

      #fire2{
          height:100px;width:130px;position:absolute;top:0px;left:235px;opacity:0.6;
      }

      #fire1{
          height:100px;width:130px;position:absolute;top:0px;left:0px;opacity:0.6;
      }

      #line{
         position:absolute;top:-270px;right:80px;z-index:1;cursor:pointer;font-size:6em;
      }

      #cross{
        position:absolute;top:-120px;right:80px;z-index:1;cursor:pointer;font-size:3.2em;display:none;
      }





      @media all and (max-width:1024px){

         .gift{
             width:100%;
         }


         #to{
          width:65%;
         }

         #from{
             width:65%;
         }
         #msg{
             width:65%;
         }
         .main{
             text-align:center;
         }
         .container1{
              position:relative;
          }

          .er{
              display:none;
          }

          #extent{
              display:block;
          }


           body{
                     background-image: url('bcd.jpg');
                     background-size: cover;
          }

      }

    @media all and (max-width:414px){

         #text_color{
           color:yellow;
         }


        .gift{
          width:100%;
         }

         #to{
          width:65%;
         }

         #from{
             width:65%;
         }
         #msg{
             width:65%;
         }
         .main{
             text-align:center;
         }
         .container1{
              position:relative;
          }

          .er{
              display:none;
          }

          #extent{
              display:block;
          }

          #expand{
             top:80px;
             line-height:0.8em;
          }

          #bresca{
             font-size:2em;
          }

          #fire2{
              left:160px;
          }

          #line{
              right:20px;
          }

          #cross{
              right:20px;
          }
    }

  </style>

  <body>



<div  class="container1" >
  <img id="fire1" src="/50.gif" >
  <div id="bresca" >BRESCA</div>
 <img id="fire2" src="/50.gif" >
  <div class="er" >
  <ul>
  <li style="opacity:1;line-height:3"><a href="/order" id="order_now" style="text-decoration:none;color:#FFFFFF;background-color:#db8f31;font-size:1.7em">Order-Now</a></li>
  <li ><a href="/about" id="detail10" >About</a></li>
  <li ><a href="/gift" id="detail10" style="background-color:green" >Gift-Cards</a></li>
  <li ><a href="/private" id="detail10" >Private-Event</a></li>
  <li ><a href="/location" id="detail10" >Location</a></li>
    <li ><a href="/" id="detail10"  >Home</a></li>
  </ul>
  </div>

<div id="extent">
<div id="line" >
  &equiv;
  </div>
  <div id="cross" >
  &#10060;
  </div>
  <div id="expand" >
  <p style="opacity:1;line-height:3"><a href="/order" id="order_now" style="text-decoration:none;color:#FFFFFF;background-color:#db8f31;font-size:1.7em">Order-Now</a></p>
  <p><a href="/about" class="detail" id="d2">About</a></p>
  <p><a href="/gift" class="detail" style="background-color:green" id="d3" >Gift-Cards</a></p>
  <p><a href="/private" class="detail" id="d4">Private-Event</a></p>
  <p><a href="/location" class="detail" id="d5" >Location</a></p>
  <p><a href="/" class="detail"  id="d6" >Home</a></p>
  </div>
</div>

</div>


<div class="gift">

     <h2 style="font-weight:solid"><b id="text_color">Give a Gift</b></h2>
     <hr style="border:2px solid #888C46;margin-top:0px">

     <br/>
     <br/>
     <br/>

 <form id="subscribe">

    <h4 style="font-weight:solid"><b>Amount<span style="color:red">*</span></b></h4>
    <hr style="border:0.4px solid #888C46;margin-top:0px">
    <div class="input-group sm-2" style="width:200px">
     <div class="input-group-prepend">
     <span class="input-group-text">$</span>
     </div>
     <input style="width:100px" id="cost" name="cost" onblur="cost0()" type="number" class="form-control" aria-label="Amount (to the nearest dollar)" value='' >
    </div>
    <b style="font-weight:solid"> ($5 - $100) </b>
    <b style="color:red;display:none" id="cost1" >Please fill the field</b>
    <b style="color:red;display:none" id="cost2" >Please fill the field in the range</b>
    <br/>
    <br/>

    <h4 style="font-weight:solid"><b id="text_color">Personalize</b></h4>
    <hr style="border:0.4px solid #888C46;margin-top:0px">

    <div style="display:flex;justify-content:center;align-items:center">
    <label for="to" class="main"  ><b>TO:</b>  </label>
    <input id="to"  name="to" onblur="to0()" type="text" style="width:65%">
     </div>
    <b style="color:red;display:none" id="to1">Please fill the field</b>

    <br>

    <div style="display:flex;justify-content:center;align-items:center">
    <label for="from" class="main"  ><b>FROM: </b> </label>
    <input id="from" name="from" style="width:65%" onblur="from0();" type="text">
     </div>
    <b style="color:red;display:none" id="from1">Please fill the field</b>


    <br>

    <div style="display:flex;justify-content:center;align-items:center">
    <label class="main" > <b>MESSAGE:</b> </label>
    <textarea type="text" onblur="msg0();" id="msg" name="msg" ></textarea>
     </div>
    <b style="color:red;display:none" id="msg1">Please fill the field</b>



    <br/>
    <br/>


    <h4 style="font-weight:solid"><b id="text_color">Schedule Delivery</b></h4>
    <hr style="border:0.4px solid #888C46;margin-top:0px;">

    <div style="position:relative">

    <div style="display:flex;justify-content:center;align-items:center">
    <b>SEND TO <span style="color:red">*</span></b>
    <div style="text-align:center;margin-left:35px;width:50px">
    <b id="e" style="color:blue;cursor:pointer"> Email</b>
    <hr id="a" style="border:1px solid blue">
    </div>
    <div style="text-align:center;width:50px">
    <b id="p" style="color:blue;cursor:pointer"> Phone</b>
    <hr id="a0" style="border:1px solid #D3D3D3">
    </div>
    </div>

    <br/>

    <div style="display:flex;justify-content:center;align-items:center">
    <input id="email" name="email" type="email" onblur="email0();" placeholder="Receipient email" style="display:block;width:210px">
    <input id="num"  name="num" type="number" onblur="email0();" placeholder="Receipent number" style="width:210px;display:none">
    </div>
    <b style="color:red;display:none" id="email1">Please fill the field</b>

    <br/>
    <br/>

    <div style="display:flex;justify-content:center;align-items:center">
    <label style="display:inline-block"><b>DELIVERY TO <span style="color:red">*</span> </b></label>
    <select  onclick="display();" name="parcel" id="parcel" style="margin-left:10px;display:inline-block" >
      <option name="current" id="now" >Now<option>
      <option id="date" >Further Date</option>
    </select>
    </div>

    <br/>

    <div style="display:flex;justify-content:center;align-items:center">
    <input id="cal"  name="date" type="date" style="display:none">
    <select id="time" name="time" style="display:none">
      <option>12 PM<option>
      <option>1 PM<option>
      <option>2 PM<option>
      <option>3 PM<option>
      <option>4 PM<option>
      <option>5 PM<option>
      <option>6 PM<option>
      <option>7 PM<option>
      <option>8 PM<option>
      <option>9 PM<option>
      <option>10 PM<option>
      <option>11 PM<option>
      <option>12 AM<option>
      <option>1 AM<option>
      <option>2 AM<option>
      <option>3 AM<option>
      <option>4 AM<option>
      <option>5 AM<option>
      <option>6 AM<option>
      <option>7 AM<option>
      <option>8 AM<option>
      <option>9 AM<option>
      <option>10 AM<option>
      <option>11 AM<option>
    </select>
    <p style="color:white;margin-top:5px"> Indian Standard Time </p>
     </div>



     </div>





    <br/>
    <h4 style="font-weight:solid"><b id="text_color">Preview</b></h4>
    <hr style="border:0.4px solid #888C46;margin-top:0px">

    <div style="height:200px;width:200px;box-shadow:2px 2px 2px 2px #D3D3D3;background-image:url('/70.gif);background-size:200px 200px">

    </div>

    <br/>
    <br/>
    <br/>
    <hr style="border:0.4px solid #888C46;margin-top:0px">
    <div  style="margin-top:20px;margin-bottom:20px;transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"  class="g-recaptcha" data-sitekey="6LdSZQEVAAAAAOVq2oS-ZmU_K2zoDZU_Tv4XGa6j"></div>
    <hr style="border:0.4px solid #888C46;margin-top:0px">



    <br/>
    <div style="display:flex;justify-content:center;align-items:center">
    <button  name="submit" type="submit" style="margin-bottom:20px" class="btn btn-primary">Submit</button>
     </div>

    </form>

  </div>

  <br/>
  <br/>


  <div style="position:fixed;bottom:0px;width:100%;background-color:#888C46;padding-top:10px;border:2px solid green;display:flex;justify-content:center;align-items:center">
  <div>
   <p style="text-align:center;color:white;font-size:0.6em">Gift Cards are not redeemable for cash except as required by applicable law and then only to the extent required by applicable law. </p>
   <p style="text-align:center;color:white;margin-top:0px;margin-bottom:0px;font-size:0.6em">POWERED BY GOURAV</p>
   <p style="text-align:center;color:white;font-size:0.6em">CONTACT NO: 8307952536  EMAIL ID: golu@575 </p>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>

   <script src="/gift.js">
   </script>





</body>
</html>
