<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Welcome to Bresca</title>
    <link rel="stylesheet" href="home.css">
   </head>

  <body>



<div  class="container1" >
   <img id="fire1" src="/50.gif" >
   <div id="bresca" >BRESCA</div>
   <img id="fire2" src="/50.gif" >
  <div class="er" >
   <ul>
    <li style="opacity:1;line-height:3"><a href="/order" id="order_now"  style="text-decoration:none;list-style:none" >Order-Now</a></li>
    <li ><a href="/about" class="header_links" style="text-decoration:none;list-style:none" >About</a></li>
    <li ><a href="/gift" class="header_links"  style="text-decoration:none;list-style:none" >Gift-Cards</a></li>
    <li ><a href="/private" class="header_links"  style="text-decoration:none;list-style:none" >Private-Event</a></li>
    <li ><a href="/location" class="header_links"  style="text-decoration:none;list-style:none" >Location</a></li>
    <li ><a href="/" class="header_links" style="background-color:green"  style="text-decoration:none;list-style:none">Home</a></li>
   </ul>
  </div>

   <div id="extent">
    <div id="line" >
     &equiv;
    </div>
   <div id="cross" >
     &#10060;
   </div>
   <div id="expand" >
    <p style="opacity:1;line-height:3"><a href="/order" id="order_now" style="text-decoration:none;color:#FFFFFF;background-color:#db8f31;font-size:1.7em">Order-Now</a></p>
    <p><a href="/about" class="detail" id="d2">About</a></p>
    <p><a href="/gift" class="detail" id="d3" >Gift-Cards</a></p>
    <p><a href="/private" class="detail" id="d4">Private-Event</a></p>
    <p><a href="/location" class="detail" id="d5" >Location</a></p>
    <p><a href="/" class="detail" style="background-color:green" id="d6" >Home</a></p>
   </div>
   </div>

</div>


<div data-aos="zoom-in" data-aos-duration="1000"  id="parallex">

<div id="book" >

<h1 class="h" >Season The Moment</h1>
<h3 class="h" >Unexpected flavors forged from nature and mingled </h3>
<a data-aos="flip-right" data-aos-duration="3000" href="book" id="submit">Book Now</a>

</div>

</div>


<div data-aos-duration="1000"  data-aos="zoom-in-up"  style="background-image:linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);height:auto;width:100%;padding:40px;margin-top:30px;position:relative;border:10px solid purple;font-family:Lobster,serif">
    <div id="left" >
   <p class="w3">Location:</p>
   <p class="w3">2345/45 RAMPURA MOHALLHISSAR</p>
   <p class="w3">Contact No:</p>
   <p class="w3">0987612345</p>
   <p class="w3">Email:</p>
   <p class="w3">gourabofwtgbwhknveijbg@gmail.com</p>
   </div>

   <div id="big" >
   <p class="w3">Welcome to bresca</p>
   <p class="w3">Featured snippet from the web</p>
   <p class="w3">Some minds are like soup in a poor restaurant better left</p>
   <p class="w3">In a restaurant one is both observed and unobserved</p>
   <p class="w3">
It's easier to be faithful to a restaurant than it is to a woman</p>
   <p class="w3">
Never eat in a restaurant that has a bowling trophy on the cash register</p>
   </div>
    <div id="timing" >
   <p class="w3">Our Restaurant Timing:</p>
   <p class="w3">Monday - Friday</p>
   <p class="w3">10am - 10pm</p>
   <p class="w3">Saturaday</p>
   <p class="w3">10am-6pm</p>
   <p class="w3">Sunday is holiday</p>
   </div>

</div>


<div id="collagephotos" style="margin-top:70px;position:relative">

<img src="/60.gif" style="height:300px;width:300px;position:absolute;z-index:4">

<div  data-aos-duration="1000" id="frequent"  >
<h1  id="our_frq" >OUR FREQUENT</h1>

<img class="fire"  src="/49.gif" style="position:absolute;z-index:4;top:200px;left:0px;height:200px;width:200px">
<img class="fire"  src="/49.gif" style="position:absolute;z-index:4;top:400px;left:0px;height:200px;width:200px">
<img class="fire"  src="/49.gif" style="position:absolute;z-index:4;top:600px;left:0px;height:200px;width:200px">
<img class="fire"  src="/49.gif" style="position:absolute;z-index:4;top:0px;left:1650px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;top:200px;left:1650px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;top:400px;left:1650px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:600px;left:1650px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:0px;left:1650px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:790px;left:2px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:790px;left:1650px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:1400px;height:200px;width:200px ">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:1200px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:1000px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:800px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:600px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:400px;height:200px;width:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:950px;left:200px;width:200px;height:200px">
<img class="fire" src="/49.gif" style="position:absolute;z-index:4;height:200px;top:790px;left:00px;height:200px;width:200px">

 <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/34.jpg" id="image">
  <br/>
     <a href="/order" style="background-color:black;font-size:1.2em;color:white" >Order Now</a>
 </div>

 <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/31.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/32.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/25.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/26.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF" ><strong>Name</strong></h4>
   <img src="/27.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF">Name1</h4>
   <img src="/28.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/29.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/30.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/34.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

 <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/31.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/32.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/25.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/26.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/27.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/28.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav"  style="display:inline-block;text-align:center;margin:15px">
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/29.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>

  <div id="fav" style="display:inline-block;text-align:center;margin:15px" >
  <h4 style="color:#7DF9FF"><strong>Name</strong></h4>
   <img src="/30.jpg" id="image">
  <br/>
  <a href="/order" style="background-color:black;font-size:1.2em;color:white">Order Now</a>
 </div>


</div>

</div>



 <div style="position: relative">

         <div id="tick" >
         <img  id="photo" src="/70.gif" >
         </div>

        <div class="form1">

        <div class="alert alert-warning" id="box" style="display:none;width:500px;text-align:center" role="alert">
        </div>

       <form id="subscribe">
        <label  style="position:absolute" for="name" class="label"><span  style="position:absolute;font-size:1.8em;color:purple" id="n">Name:<span style="color:red">*</span></span></label>
        <br>
        <br>
        <input name="name" onchange="name2();" type="text" id="name" class="fill">
        <hr class="line"  >
        <h6 id="li1" style="color:red;padding-top:0px;display:none">Please fill the above field</h6>

        <label style="position:absolute" for="email" class="label"><span style="position:absolute;font-size:1.8em;color:purple" id="e">Email:<span style="color:red">*</span></span> </label>
        <br>
        <br>
        <input name="email" onchange="email2();" type="email" id="email" class="fill" >
        <hr class="line" >
        <h6 id="li2" style="color:red;padding-top:0px;display:none">Please fill the above field</h6>

        <label style="position:absolute" for="contact" class="label"><span style="position:absolute;font-size:1.8em;color:purple"  id="c">Contact:</span></label>
        <br>
        <br>
        <input name="contact" onchange="contact2();" type="text" id="contact" class="fill" >
        <hr class="line" >
        <h6 id="li3" style="color:red;padding-top:0px;display:none">Please fill the above field</h6>

        <br>
        <div  style="margin-top:20px" class="g-recaptcha" data-sitekey="6LdSZQEVAAAAAOVq2oS-ZmU_K2zoDZU_Tv4XGa6j"></div>

        <br/>
        <button id="hogya" type="submit" class="btn btn-success" style="font-size:1.2em">Subscribe</button>


    </form>
    </div>

 <div class="collection"  data-aos-duration="1000"   data-aos="zoom-in-up" style="z-index:0">

  <div class="daba1">
  <div data-aos="fade-in-down"  id="know1" >
  <div id="det1" >
   <h2 id="h20" style="text-align:center;padding-bottom:10px;font-family:monospace">About</h2>
   <h5 id="h50" style="text-align:center">Unexpected flavors forged from nature and mingled with flourish. Vibrant herbs grown as close to home as  gets (they’re from the rooftop garden). The freshest ingredients responsibly sourced both near and far. </h5>
   <div id="link1" >
   <a href="/about" style="color:#FFFFFF;text-decoration:none" >Know Us</a>
   </div>
   </div>

  </div>
  <img src="/17.jpg" id="knowpic" style="width:50%;height:100%;filter: grayscale(50%)">
  </div>


  <div class="daba2">
  <img src="/58.jpg"  id="privatepic"  >
    <div data-aos="fade-in-down"  id="know2">
  <div id="det2" >
   <h2 id="h201" style="text-align:center;padding-bottom:10px;font-family:monospace">Private Dinning</h2>
   <h5 id="textprivate" style="text-align:center">
For larger groups or events, please inquire within. </h5>
   <div id="link2" >
   <a href="/private" onclick="window.location.href='/private'" style="color:#FFFFFF;text-decoration:none">Dine With Us</a>
   </div>
    </div>
  </div>
 </div>

 </div>


</div>





 <div id="last" >

  <div class="detail2">

  <div style="margin-left:20px;margin-top:10px;display:inline-block;float:left" >
  <img src="/41.png" id="facebook" >
  <img src="/42.png" id="instagram" >
  <img src="/43.png" id="twitter" >
  </div>

  <div style="float:right">
  <ul>
  <li  class="detail4" ><a id="email1" style="text-decoration:none;color:black;font-size:1.2em;font-weight:bold;cursor:pointer">Sign Up</a></li>
  <li  class="detail4" ><a href="career"  style="text-decoration:none;color:black;font-size:1.2em;font-weight:bold">Career</a></li>
  <li  class="detail4"><a href="contact"  style="text-decoration:none;color:black;font-size:1.2em;font-weight:bold">Contact</a></li>
  </ul>
  </div>

  </div>

  <div class="detail3" style="text-align:center;background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);" >
    <h5 style="text-align:center;line-height:-10">ACCHA LAGA NA ... ! MAI JANTA THA</h5>
  </div>

</div>


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"></script>
    <script src="/sign.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


  </body>
</html>
